
/* Mobile navigation */

#main-header {
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
    width: 100%;

    max-height: 0;
    overflow: hidden;
    transform: perspective(400px) rotate3d(1,0,0, -90deg);
    transform-origin: 50% 0;
    transition: all 350ms ease-out;
}

#main-header.active {
    display: block;
    max-height: 1000px; /* override for old browsers */
    max-height: 100vh;
    transform: perspective(400px) rotate3d(0,0,0,0deg);
    background-color: #333;
}

#main-header #main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#main-header #main-nav ul li {
    margin: 0;
    padding: 0;
    display: block;
}

#main-header #main-nav ul li a {
    display: block;
    padding: 20px 0;
    color: white;
    transition: all .3s ease-out;

    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

#main-header #main-nav ul li a:hover,
#main-header #main-nav ul li a:focus {
    background: rgba(0,0,0,1);
    text-decoration: none;
}


#main-header #main-nav ul li a.active {
    background-color: #c0392b;
}

#main-header #main-nav ul li a.home.active {
    color: transparent;
    background-color: transparent;
}

#main-header #main-nav ul li a#debug {
    display: none;
}

/* Mobile trigger */

.triggers {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 20px;
}

.triggers .trigger {
    color: white;
    padding: 10px;
    font-size: 200%;
    background-color: #333;
}

.triggers .trigger.triggered {
    background-color: transparent;
}

.triggers .trigger .glyphicon {
    transition: transform .3s ease-out;
}

.triggers .trigger .glyphicon-chevron-left {
    transform: rotate(90deg);
}

.triggers .trigger .glyphicon-menu-hamburger {
    transform: rotate(180deg);
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* Header and navigation styles */

    #main-header {
        display: block;
        background-color: rgba(50,50,50,1);

        max-height: 100%;
        overflow: visible;
        transform: none;
    }

    #main-header #main-nav ul li {
        display: inline-block;
    }

    #main-header #main-nav ul li a {
        padding: 20px;
    }

    #main-header #main-nav ul li a span {
        display: none;
    }

    #main-header #main-nav ul li a#debug {
        display: block;
        color: #666;
    }

    .debug #main-header #main-nav ul li a#debug:hover,
    .debug #main-header #main-nav ul li a#debug:active {
        color: #999;
    }

    .debug #main-header #main-nav ul li a#debug.on {
        background-color: #c0392b;
        color: white;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}