/* Header and navigation styles */

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: rgba(30,30,30,1);
    color: white;
    padding: 10px 0;
}

#main-header #main-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#main-header #main-nav ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

#main-header #main-nav ul li a {
    display: block;
    padding: 10px 20px;
    color: white;
    transition: all .3s ease-out;

    text-transform: uppercase;
    font-weight: bold;
}

#main-header #main-nav ul li a:hover,
#main-header #main-nav ul li a:focus {
    background: rgba(20,20,20,1);
}

#debug {
    color: #333;
}

.debug #debug {
    background: red;
    color: white;
}
