/* Header and navigation styles */

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: rgba(50,50,50,1);
    color: white;
}

#main-header #main-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#main-header #main-nav ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

#main-header #main-nav ul li a {
    display: block;
    padding: 20px;
    color: white;
    transition: all .3s ease-out;

    text-transform: uppercase;
    font-weight: bold;
}

#main-header #main-nav ul li a:hover,
#main-header #main-nav ul li a:focus {
    background: rgba(0,0,0,1);
    text-decoration: none;
}

#main-header #main-nav ul li a#debug {
    color: #666;
}

.debug #main-header #main-nav ul li a#debug:hover,
.debug #main-header #main-nav ul li a#debug:active {
    background: red;
    color: white;
}
