.directions {
    text-align: left;
    font-size: 120%;
}

.directions li {
    line-height: 150%;
}

.directions li.list-group-item  {
    cursor: pointer;
    transition: all .3s ease-out;
}

.directions li.list-group-item .glyphicon {
    color: #ddd;
    margin-right: 20px;
    transition: all .3s ease-out;
}

.directions li.list-group-item-success .glyphicon {
    color: green;
}

.members {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.members li.member {
    display: inline-block;
    margin-right: 40px;
    width: 20%;
    background: #efefef;
    padding: 10px;
    transition: all .3s ease-out;
}

.members li.member:hover {
    box-shadow: 3px 1px 10px rgba(0,0,0,0.5);
}

.members li.member:nth-of-type(n) {
    transform: rotate(-7deg);
}

.members li.member:nth-of-type(2n) {
    transform: rotate(7deg);
}

.members li.member:nth-of-type(3n) {
    transform: rotate(1deg);
}

.members li.member:nth-of-type(4n) {
    transform: rotate(3deg);
}

.members li.member:nth-of-type(5n) {
    transform: rotate(-3deg);
}

.members li.member img {
    width: 100%;
    transition: all .3s ease-out;
}

.members li.member:hover img {
    filter: sepia(1);
}

.members li.member .name {
    text-align: center;
    font-family: 'Indie Flower', sans-serif;
    margin: 10px 0;
}

.suggestions {
    max-height: 300px;
    max-height: 40vh;
    overflow-y: scroll;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.suggestions .suggestion {
    color: white;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.suggestions .suggestion:last-of-type {
    border-bottom: 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .members li.member {
        width: 150px;
    }
    .suggestions {
        max-height: 450px;
        max-height: 70vh;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}