/* Parallax styles */
/* That's right, parallax with only css */
/* Learn for yourself at http://keithclark.co.uk/articles/pure-css-parallax-websites/ */

.parallax {
    perspective: 200px;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    perspective-origin-x: 100%;
}

/* A set of layers */
.parallax .parallax-group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    transform-origin-x: 100%;

    transition: transform .5s ease-out;
}

.parallax .parallax-group .parallax-group-half-page {
    height: 50vh;
}

.parallax .parallax-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Debug effect */
.parallax .parallax-group,
.parallax .parallax-group .parallax-layer {
    transition: transform .5s ease-out;
}

.debug .parallax .parallax-group {
    transform: translate3d(700px, 0, -800px) rotateY(30deg);
}

.debug .parallax .parallax-group .parallax-layer {
    box-shadow: 0 0 0 2px #000;
    opacity: 0.9;
}

/* Modifier classes (decide depth of layer) */

.parallax .parallax-layer-front {
    transform: translateX(90px) scale(.7);
    z-index: 10;
}

.parallax .parallax-layer-base {
    transform: translateZ(0);
    z-index: 4;
}

.parallax .parallax-layer-back {
    transform: translateZ(-1px) scale(2);
    z-index: 3;
}

.parallax .parallax-layer-deep {
    transform: translateZ(-2px) scape(3);
    z-index: 2;
}
