/* slides */

#slide-1 .bcg {
    background-image:url('../img/view-from-docks.jpg')
}

#slide-2 .bcg {
    background: none;
    background-color: #010101;
    height: 310px;
    text-align: center
}
